<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>input form</h1>
<form th:action="@{/validation}" method="post" th:object="${userForm}">
    <label>
        NAME: <input type="text" name="name" th:field="*{name}" />
        <span th:errors="*{name}"></span>
    </label>
    <br />
    <label>
        EMAIL: <input type="text" name="email" th:field="*{email}" />
        <span th:errors="*{email}"></span>
    </label>
    <br />
    <button type="submit">send form</button>
</form>

</body>
</html>